.git
.gitignore
.env
.env.*
!.env.example
!.env.docker.example

node_modules
vendor

storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore

bootstrap/cache/*
!bootstrap/cache/.gitignore

public/build/hot
database/*.sqlite
database/*.sqlite-journal
database/*.sqlite.*

tests
*.md
docs
docker-compose.yml
docker-compose.*.yml
Dockerfile
.phpunit.result.cache
npm-debug.log
yarn-error.log
